:root {
  --color-bg-primary: #1E4AA4;
  --color-bg-light-grey: #EAECEF;
  --color-bg-lightest-blue: #F5F8FB;
  --color-bg-darkblue: #222A38;
  --color-bg-white: #FFFFFF;
  --color-bg-white-transparent: rgba(255, 255, 255, 0.2);
  --color-border-base: rgba(51, 51, 51, 0.1);
  --color-border-dc: #dcdcdc;
  --color-border-white-transparent: rgba(255, 255, 255, 0.2);
  --color-progress-bar-background: rgba(255, 255, 255, 0.25);
  --color-text-base: #49515F;
  --color-text-base-transparent: rgba(73, 81, 95, 0.5);
  --color-text-placeholder: rgba(73, 81, 95, 0.6);
  --color-text-primary: #1E4AA4;
  --color-text-white: #FFFFFF;
  --color-text-light-base: #9A9EAC;
  --color-other-logo-primary: #06235E;
  --color-other-logo-grey: #E5EBF0;
  --color-other-link: #497FDF;
  --color-sep-lightgrey: #EEEEEE;
  --color-news-single-kv-date: #333;
  --color-form-required: #C82828;
  --color-bg-cta: linear-gradient(180deg, #254DA0 126.2%, #0772D1 -20.47%);
  --color-bg-kv: linear-gradient(180deg,
          color-mix(in srgb, #00143d, transparent 100%) 32.13%,
          color-mix(in srgb, #00143d, transparent 30%) 100%);
}

/*!
global > content-width
------------------------------
*/
:root {
  --width-content: 1000rem;
  --width-content-l: 1300rem;
}

/*!
global > font
------------------------------
*/
:root {
  --font-family-base: "Zen Kaku Gothic New", sans-serif;
  --font-family-en: "Play", sans-serif;
}

/*!
global > z-index
------------------------------
*/
:root {
  --z-index-modal: 100;
  --z-index-header: 30;
  --z-index-menu: 10;
  --z-index-image: 7;
  --z-index-default: 5;
  --z-index-background: 1;
}

/*!
page > privacy > editor-style-privacy
------------------------------
*/
.p-admin-page--8 p {
  font-size: 15px;
  line-height: 1.7;
}
.p-admin-page--8 ul {
  padding-left: 20px;
}
.p-admin-page--8 li {
  margin-top: 4px;
  list-style: none;
  counter-increment: list;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 4px;
}
.p-admin-page--8 li::before {
  content: counter(list) ". ";
  display: inline-block;
  font-size: 15px;
}

/*!
page > company > editor-style-company
------------------------------
*/
.p-admin-page--30 p {
  font-size: 15px;
  line-height: 1.7;
}
.p-admin-page--30 tr {
  border-bottom: 1px solid var(--color-border-base);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.p-admin-page--30 tr:first-child {
  border-top: 1px solid var(--color-border-base);
}
.p-admin-page--30 td {
  padding: 25px 0;
  border: 0 0 1px solid var(--color-border-base) 0 !important;
}
.p-admin-page--30 td:first-child {
  font-weight: 700;
  width: 224px;
}

/*!
page > news-single > editor-style-news-single
------------------------------
*/
.post-type-post h2 {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .post-type-post h2 {
    font-size: 24px;
  }
}
.post-type-post h3 {
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: 0.05em;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .post-type-post h3 {
    font-size: 20px;
  }
}
.post-type-post p {
  font-size: 15px;
  line-height: 1.9;
}
@media screen and (min-width: 768px) {
  .post-type-post p {
    font-size: 16px;
  }
}
.post-type-post ul {
  list-style: none;
  padding-left: 0;
}
.post-type-post ul li {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  font-size: 15px;
  font-weight: 500;
}
.post-type-post ul li::before {
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 100vh;
  background-color: var(--color-text-primary);
}
@media screen and (min-width: 768px) {
  .post-type-post ul li {
    font-size: 16px;
  }
}
.post-type-post ol {
  padding-left: 0;
}
.post-type-post ol li {
  counter-increment: list-counter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  line-height: 1.9;
  gap: 8px;
}
.post-type-post ol li::before {
  content: counter(list-counter, decimal-leading-zero) ".";
  font-size: 20px;
  color: var(--color-text-primary);
  font-family: var(--font-family-en);
  line-height: 1.15;
  font-weight: 500;
}
.post-type-post a {
  display: inline-block;
  font-size: 15px;
  line-height: 1.9;
  color: var(--color-text-primary);
  text-decoration: underline;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
@media (any-hover: hover) {
  .post-type-post a:hover {
    opacity: 0.5;
  }
}