@use "top";
@use "news-single/news-single";
@use "error/error";
@use "message/message";
@use "access/access";
@use "company/company";
@use "business-single";
@use "archive-product/archive-product";
@use "product-single/product-single";
@use "contact/contact";
@use "archive-news/archive-news";
@use "privacy/privacy";
