@use "../../global" as g;

/*!
page > contact > contact
------------------------------
*/

.contact-text {
    font-size: 15rem;
    line-height: 1.9;

    @include g.mq() {
        font-size: 16rem;
    }
}

.contact-form {
    margin-top: 40rem;
    display: flex;
    flex-direction: column;
    gap: 24rem;

    @include g.mq() {
        gap: 33rem;
    }
}

.contact-form-item {
    display: flex;
    flex-direction: column;
    gap: 6rem;

    @include g.mq() {
        flex-direction: row;
        gap: 20rem;
    }


    input {
        width: 100%;
        background-color: var(--color-bg-lightest-blue);
        border-radius: 4rem;
        padding: 13rem 19rem;
        outline: none;
        font-size: 15rem;
        display: block;

        &::placeholder {
            color: var(--color-text-placeholder);
        }

        // フォーカス時のスタイル
        &:focus {
            box-shadow: 0 0 0 1rem var(--color-text-primary), 0 0 0 4rem var(--color-border-base);
        }

        @include g.mq() {
            width: 784rem;
        }
    }


    textarea {
        width: 100%;
        height: 120rem;
        appearance: none; // ブラウザのデフォルトスタイルをリセット
        -webkit-appearance: none; // Safari, Chrome用
        -moz-appearance: none; // Firefox用
        field-sizing: content; // コンテンツサイズに合わせてリサイズ
        resize: vertical; // 縦方向のみリサイズ可能

        width: 100%;
        background-color: var(--color-bg-lightest-blue);
        border-radius: 4rem;
        padding: 13rem 19rem;
        outline: none;
        font-size: 15rem;
        display: block;

        &::placeholder {
            color: var(--color-text-placeholder);
        }

        // フォーカス時のスタイル
        &:focus {
            box-shadow: 0 0 0 1rem var(--color-text-primary), 0 0 0 4rem var(--color-border-base);
        }

        @include g.mq() {
            height: 160rem;
            width: 784rem;
        }
    }
}

.contact-form-item-title {
    font-weight: 700;
    width: 200rem;
    display: block;

    @include g.mq() {
        margin-top: 16rem;
    }
}

.contact-form-item-required {
    font-weight: 500;
    margin-left: 4rem;
    color: var(--color-form-required);
}


.contact-form-privacy-text {
    font-size: 15rem;
    line-height: 1.9;
    margin-top: 48rem;
    text-align: center;

    @include g.mq() {
        margin-top: 80rem;
        font-size: 16rem;
    }

    a {
        color: var(--color-text-primary);
        text-decoration: underline;
        transition: opacity 0.3s;

        @media (any-hover:hover) {
            &:hover {
                opacity: 0.7;
            }
        }

        &:focus {
            box-shadow: 0 0 0 1rem var(--color-text-primary);
        }
    }
}

.contact-form-button {
    display: block;
    padding: 24rem 122.5rem;
    border-radius: 100vh;
    background-color: var(--color-bg-primary);
    color: var(--color-text-white);
    width: 320rem;
    height: 74rem;
    transition: color 0.3s, background-color 0.3s;
    outline: none;
    margin: 24rem auto 0 auto;

    @media (any-hover:hover) {
        &:hover {
            background-color: var(--color-bg-white);
            border: 1px solid var(--color-bg-primary);
            color: var(--color-text-primary);
        }
    }

    &:focus {
        box-shadow: 0 0 0 1rem var(--color-text-primary), 0 0 0 4rem var(--color-border-base);
    }
}


//コンタクトフォーム7のスタイル

.wpcf7-spinner {
    display: none !important;
}
// 送信エラーのスタイル

.wpcf7-response-output {
    border: none !important;
    color: var(--color-form-required) ;
    text-align: center;
    margin:0 !important;
    padding: 0 !important;
}