@use "../../global" as g;

/*!
page > news-single
------------------------------
*/

.news-single {
    margin-top: 80rem;
    margin-bottom: 80rem;

    @include g.mq() {
        margin-top: 140rem;
        margin-bottom: 120rem;
    }
}

.news-single-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16rem;


    h2 {
        font-size: 20rem;
        line-height: 1.5;
        letter-spacing: 0.05em;
        font-weight: 500;

        @include g.mq() {
            font-size: 24rem;
        }
    }

    h3 {
        font-size: 18rem;
        line-height: 1.44;
        letter-spacing: 0.05em;
        font-weight: 500;

        @include g.mq() {
            font-size: 20rem;
        }
    }

    p {
        font-size: 15rem;
        line-height: 1.9;

        @include g.mq() {
            font-size: 16rem;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 10rem;
        list-style: disc;

        li {
            display: flex;
            align-items: center;
            gap: 12rem;
            font-size: 15rem;
            font-weight: 700;

            &::before {
                display: inline-block;
                content: "";
                width: 8rem;
                height: 8rem;
                border-radius: 100vh;
                background-color: var(--color-text-primary);
            }

            @include g.mq() {
                font-size: 16rem;
            }
        }
    }

    ol {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        li {
            counter-increment: list-counter;
            display: flex;
            align-items: center;
            font-weight: 700;
            line-height: 1.9;
            gap: 8rem;

            &::before {
                content: counter(list-counter, decimal-leading-zero) ".";
                font-size: 20rem;
                color: var(--color-text-primary);
                font-family: var(--font-family-en);
                line-height: 1.15;
                font-weight: 500;
            }
        }

    }

    a {
        display: inline-block;
        font-size: 15rem;
        line-height: 1.9;
        color: var(--color-text-primary);
        text-decoration: underline;
        transition: opacity 0.5s;

        @media (any-hover:hover) {
            &:hover {
                opacity: 0.5;
            }
        }
    }
}




.news-single-button-wrapper {
    .nav-links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 80rem;
    }
}

.news-single-prev-button,
.news-single-next-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22rem;
    width: 144rem;
    height: 51rem;
    border-radius: 32rem;
    background-color: var(--color-bg-light-grey);
    font-family: var(--font-family-en);
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;

    @media (any-hover:hover) {
        &:hover {
            color: var(--color-text-white);
            background-color: var(--color-bg-primary);

            &::before,
            &::after {
                background-image: url(../img/arrow/arrow-white-right.svg);
            }
        }
    }
}

.news-single-prev-button {
    &::before {
        content: "";
        display: block;
        width: 12rem;
        height: 11rem;
        background-image: url(../img/arrow/arrow-primary.svg);
        background-size: contain;
        background-repeat: no-repeat;
        transform: rotate(180deg);
    }
}

.news-single-next-button {
    &::after {
        content: "";
        display: block;
        width: 12rem;
        height: 11rem;
        background-image: url(../img/arrow/arrow-primary.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
}