@use "../../global" as g;

/*!
page > company
------------------------------
*/

.company-image {
    display: block;
    aspect-ratio: 340/226;
    width: 340rem;
    height: 226rem;
    object-fit: cover;

    img {
        width: 100%;
        height: 100%;
    }

    @include g.mq() {
        aspect-ratio: 2/1;
        width: 1000rem;
        height: 500rem;
    }
}

.company-content {
    margin-top: 34rem;

    @include g.mq() {
        margin-top: 50rem;
    }

    tr {
        padding: 25rem 0;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid var(--color-border-base);
        line-height: 1.47;
        font-size: 15rem;

        &:first-child {
            border-top: 1px solid var(--color-border-base);
        }

        @include g.mq() {
            font-size: 16rem;
            padding: 31rem 0;
            flex-direction: row;
            align-items: flex-start;
        }
    }

    td {
        padding: 0 !important;
        border: none !important;

        &:first-child {
            font-weight: 700;
            margin-bottom: 4rem;
        }

        @include g.mq() {
            &:first-child {
                width: 224rem;
                margin-bottom: 0;
            }
        }
    }
}

.company-content-list-item {
    dt {
        line-height: 1.46;
        font-weight: 700;
    }

    @include g.mq() {
        font-size: 16rem;
        padding: 31rem 0;
        flex-direction: row;
        align-items: flex-start;

        dt {
            width: 160rem;
        }
    }
}