@use "../../global" as g;

/*!
page > privacy > privacy
------------------------------
*/

.privacy {
    p {
        margin-top: 8rem;
        font-size: 15rem;
        line-height: 1.7;

        @include g.mq() {
            margin-top: 8rem;
            font-size: 16rem;
        }
    }

    h2 {
        margin-top: 40rem;
        font-size: 20rem;
        font-weight: 700;
        letter-spacing: 0.05em;

        @include g.mq() {
            font-size: 24rem;
        }
    }

    ul {
        margin-top: 10rem;
        font-size: 15rem;
        letter-spacing: 0.05em;
        line-height: 1.4;
        display: flex;
        flex-direction: column;
        gap: 4rem;

        @include g.mq() {
            margin-top: 20rem;
            font-size: 16rem;
            gap: 10rem;
        }
    }

    li {
        counter-increment: list;
        display: flex;
        align-items: flex-start;
        padding-left: 4rem;
        gap: 4rem;

        &::before {
            content: counter(list) ". ";
            display: inline-block;
            font-size: 15rem;
            font-weight: 500;
            padding-left: 8rem;
        }

        @include g.mq() {
            align-items: flex-end;
            padding-left: 4rem;
            &::before {
                font-size: 17rem;
            }
        }
    }
}

.privacy-list {
    margin-top: 10rem;
    font-size: 15rem;
    line-height: 1.5;
    letter-spacing: 0.05em;
    display: flex;
    flex-direction: column;
    gap: 10rem;

    @include g.mq() {
        font-size: 16rem;
        line-height: 1.8;
    }
}

.privacy-list-item {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.wp-block-list-item{
    margin-top: 8rem;
}