@use "sass:map";

// global > breakpoint
// ------------------------------
$breakpoints: (
    // "sm": 400px,
    "md": 768px,
    // "lg": 1080px,
    // "xl": 1300px,
);

@mixin mq($breakpoint: md) {
    @media screen and (min-width: #{map-get($breakpoints, $breakpoint)}) {
        @content;
    }
}
