@use "../../global" as g;

/*!
page > archive-product > archive-product
------------------------------
*/

.archive-product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24rem 20rem;

    @include g.mq() {
        grid-template-columns: repeat(3, 1fr);
        gap: 64rem 44rem;
    }
}

.archive-product-item {
    width: 160rem;

    @include g.mq() {
        width: 404rem;
    }
}

.archive-product-item-link {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    overflow: hidden;

    img {
        transition: 0.5s;
    }

    @include g.mq() {
        gap: 16rem;
    }

    @media (any-hover:hover) {
        &:hover {
            img {
                scale: 1.03;
            }

            .archive-product-item-sub-title {
                background-color: var(--color-bg-primary);
                color: var(--color-text-white);
                border: 1px solid var(--color-text-primary);
            }

            .archive-product-item-title {
                color: var(--color-text-primary);
            }
        }
    }

}

.archive-product-item-image {
    width: 160rem;
    height: 106rem;
    object-fit: cover;
    overflow: hidden;
    border-radius: 0 0 0 24rem;
    border: 1px solid var(--color-border-dc);

    img {
        width: 100%;
        height: 100%;
    }

    @include g.mq(md) {
        width: 404rem;
        height: 269rem;
        border-radius: 0 0 0 32rem;
    }
}

.archive-product-item-content {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include g.mq() {
        gap: 8rem;
    }

}

.archive-product-item-sub-title {
    font-size: 13rem;
    line-height: 1.46;
    border: 1px solid var(--color-text-base);
    border-radius: 16rem;
    padding: 1rem 7rem;
    width: fit-content;
    transition: 0.5s;

    @include g.mq() {
        font-size: 16rem;
    }
}

.archive-product-item-title {
    font-size: 15rem;
    line-height: 1.46;
    font-weight: 500;
    transition: 0.5s;

    @include g.mq() {
        font-size: 20rem;
    }
}