@use "../global" as g;

/*!
layout > container
------------------------------
*/

.l-container {
    width: min(90%, var(--width-content));
    margin-inline: auto;
}

.l-container-l {
    width: min(90%, var(--width-content-l));
    margin-inline: auto;
}