@use "../global" as g;

/*!
layout > footer
------------------------------
*/
.l-footer {
    background-color: var(--color-bg-lightest-blue);
    color: var(--color-text-white);
    position: relative;
}

.l-footer-inner {
    border-radius: 32rem 32rem 0 0;
    padding: 80rem 0;
    background-color: var(--color-bg-darkblue);

    @include g.mq() {
        border-radius: 56rem 56rem 0 0;
    }
}

.l-footer-wrapper {
    @include g.mq() {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.l-footer-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include g.mq() {
        align-items: flex-start;
    }
}

.l-footer-button {
    position: absolute;
    top: 25rem;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80rem;
    height: 80rem;
    border-radius: 100vh;
    background-color: var(--color-bg-darkblue);
    z-index: var(--z-index-default);

    img {
        display: block;
        width: 14rem;
        height: 12rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.l-footer-nav-logo {
    display: block;
    width: 160rem;
    height: auto;

    img {
        width: 100%;
        height: 100%;
    }

    @include g.mq() {
        width: 246.67rem;
    }
}

.l-footer-content {
    margin-top: 32rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;

    @include g.mq() {
        align-items: flex-start;
        margin-top: 34rem;
        gap: 4rem;
    }
}

.l-footer-content-address {
    font-size: 13rem;
    line-height: 1.6;
}

.l-footer-content-tel {
    font-family: var(--font-family-en);
}

.l-footer-content-tel-en {
    font-size: 13rem;
    line-height: 1.6;

}

.l-footer-content-tel-number {
    font-size: 21rem;
    line-height: 1.6;
    font-weight: 400;
    margin-left: 6rem;
}

.l-footer-copyright {
    margin-top: 50rem;
    font-family: var(--font-family-en);
    font-size: 13rem;
    line-height: 1.6;

    @include g.mq() {
        margin-top: 113rem;
    }
}

.l-footer-nav {
    display: none;

    @include g.mq() {
        display: flex;
        gap: 96rem;
    }
}

.l-footer-nav-list-wrapper {
    @include g.mq() {
        display: flex;
        gap: 96rem;
    }
}

.l-footer-nav-list01,
.l-footer-nav-list02,
.l-footer-nav-list03 {
    @include g.mq() {
        display: flex;
        flex-direction: column;
        font-size: 15rem;
        line-height: 1.6;
    }
}

.l-footer-nav-list01-item-gaiyou {
    @include g.mq() {
        margin-top: 40rem;
    }
}

.l-footer-nav-list01-item-aisatu,
.l-footer-nav-list01-item-access {
    @include g.mq() {
        margin-top: 13rem;
    }
}


.l-footer-nav-list02-item-sub {
    @include g.mq() {
        font-size: 13rem;
        margin-top: 10rem;
    }
}

.l-footer-nav-list02-item+.l-footer-nav-list02-item-sub {
    @include g.mq() {
        margin-top: 14rem;
    }
}

.l-footer-nav-list02-item-product {
    @include g.mq() {
        margin-top: 38rem;
    }
}

.l-footer-nav-list03 {
    @include g.mq() {
        gap: 21rem;
    }
}