@use "../global" as g;

/*!
component > pagination
------------------------------
*/

.c-pagination {
    margin-top: 40rem;

    @include g.mq() {
        margin-top: 80rem;
    }

    .nav-links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8rem;

        @include g.mq() {
            gap: 16rem;
        }
    }

    .page-numbers {
        width: 40rem;
        height: 40rem;
        display: grid;
        place-items: center;
        background-color: var(--color-bg-white);
        border: 1px solid var(--color-border-base);
        border-radius: 100vh;
        transition: 0.5s;
        font-size: 14rem;

        @include g.mq() {
            width: 60rem;
            height: 60rem;
            font-size: 20rem;
        }

        @media (any-hover:hover) {
            &:hover {
                background-color: var(--color-bg-primary);
                color: var(--color-text-white);

                &::before {
                    border-color: var(--color-text-white);
                }
            }
        }
    }

    .current {
        background-color: var(--color-bg-primary);
        color: var(--color-text-white);
        pointer-events: none;
    }

    .dots {
        border: none;
        pointer-events: none;
    }

    .prev,
    .next {
        position: relative;
    }

    .prev {
        &::before {
            content: "";
            position: absolute;
            top: 42%;
            left: 47%;
            transform: translate(-50%, -50%);
            width: 10rem;
            height: 10rem;
            border-top: 1rem solid var(--color-text-base);
            border-right: 1rem solid var(--color-text-base);
            transform: rotate(225deg);
        }
    }

    .next {
        &::before {
            content: "";
            position: absolute;
            top: 40%;
            left: 38%;
            transform: translate(-50%, -50%);
            width: 10rem;
            height: 10rem;
            border-top: 1rem solid var(--color-text-base);
            border-right: 1rem solid var(--color-text-base);
            transform: rotate(45deg);
        }
    }
}