@use "../../global" as g;

/*!
page > top > top-product
------------------------------
*/

.top-product {
    background-image: url(../img/top/product-bg-img-sp.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 83rem 0 86rem 0;
    border-radius: 32rem;
    color: var(--color-text-white);

    @include g.mq(md) {
        background-image: url(../img/top/product-bg-img-pc.jpg);
        border-radius: 56rem;
        padding: 83rem 0;
    }
}

.top-product-header-wrapper-inner {
    padding: 0 20rem;

    @include g.mq(md) {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 70rem;
    }
}

.top-product-header {
    display: flex;
    align-items: center;
    gap: 8rem;

    @include g.mq(md) {
        gap: 6rem;
    }
}

.top-product-title-en {
    font-family: var(--font-family-en);
    font-size: 20rem;
    line-height: 1.6;
    text-transform: uppercase;
}

.top-product-title-ja {
    line-height: 1.6;
    font-size: 15rem;
}

.top-product-sub-title {
    margin-top: 5rem;
    font-size: 28rem;
    line-height: 1.46;
    letter-spacing: 0.05em;

    @include g.mq(md) {
        margin-top: 9rem;
        font-size: 32rem;
    }
}

.top-product-text {
    margin-top: 38rem;
    line-height: 1.9;
    font-size: 15rem;

    span {
        display: block;
    }

    @include g.mq(md) {
        margin-top: 40rem;
    }
}

.top-product-item-wrapper {
    margin-top: 40rem;

    @include g.mq(md) {
        margin-top: 56rem;
        margin-left: 70rem;
    }
}

.top-product-item {
    width: 300rem;

    @include g.mq() {
        width: 404rem;
    }
}

.top-product-item-link {
    display: flex;
    flex-direction: column;
    gap: 16rem;
    overflow: hidden;
    width: 100%;
    height: 100%;

    @media (any-hover:hover) {
        &:hover {
            img {
                transform: scale(1.03);
            }

            .top-product-item-sub-title {
                background-color: var(--color-bg-white);
                color: var(--color-text-primary);
                border-color: var(--color-text-primary);
                transition: 0.5s;
            }

            .top-product-item-title {
                &::before {
                    transform: scale(1, 1);
                }
            }
        }
    }

}

.top-product-item-image {
    width: 300rem;
    height: 200rem;
    overflow: hidden;
    display: block;
    object-fit: cover;
    border-radius: 0 0 0 32rem;
    transition: 0.5s;
    border-left: 1px solid var(--color-text-primary);

    img {
        transition: 0.5s;
        width: 100%;
        height: 100%;
    }

    @include g.mq(md) {
        width: 404rem;
        height: 269rem;
    }
}

.top-product-item-content {
    display: flex;
    flex-direction: column;
    gap: 8rem;

}

.top-product-item-sub-title {
    color: var(--color-text-white);
    line-height: 1.5;
    border: 1px solid var(--color-text-white);
    border-radius: 16rem;
    padding: 1rem 7rem;
    width: fit-content;

    @include g.mq() {
        font-size: 16rem;
    }
}

.top-product-item-title {
    color: var(--color-text-white);
    font-size: 18rem;
    letter-spacing: 0.05em;
    width: fit-content;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1rem;
        background-color: var(--color-text-white);
        bottom: 0rem;
        left: 0;
        transform: scale(0, 1);
        transform-origin: left;
        transition: transform 0.3s;
    }

    @include g.mq() {
        font-size: 20rem;
    }

}



.top-product-top-button-wrapper {
    display: none;

    @include g.mq(md) {
        display: flex;
        gap: 32rem;
    }
}

.top-product-bottom-button-wrapper {
    display: flex;
    gap: 24rem;
    margin: 28rem auto 0;
    width: fit-content;

    @include g.mq(md) {
        display: none;
    }
}


.top-product-button-prev {
    border: 1px solid var(--color-text-white);
    border-radius: 100vh;
    width: 64rem;
    height: 64rem;
    position: relative;
    transition: 0.5s;

    @media (any-hover:hover) {
        &:hover {
            background-color: var(--color-bg-white-transparent);
        }
    }

    &::after {
        position: absolute;
        content: "";
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 18rem;
        height: 16.5rem;
        background-image: url(../img/arrow/arrow-white-left.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.top-product-button-next {
    border: 1px solid var(--color-text-white);
    border-radius: 100vh;
    width: 64rem;
    height: 64rem;
    position: relative;
    transition: 0.5s;

    @media (any-hover:hover) {
        &:hover {
            background-color: var(--color-bg-white-transparent);
        }
    }

    &::after {
        position: absolute;
        content: "";
        display: block;
        top: 50%;
        left: 55%;
        transform: translate(-50%, -50%);
        width: 18rem;
        height: 16.5rem;
        background-image: url(../img/arrow/arrow-white-right.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.top-product-button-view-more {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--color-text-white);
    border-radius: 36rem;
    padding: 23rem 31rem;
    width: 272rem;
    height: 69rem;
    margin: 40rem auto 0;
    background-color: var(--color-bg-white-transparent);
    transition: 0.5s;

    @media (any-hover:hover) {
        &:hover {
            background-color: var(--color-bg-white);
            color: var(--color-text-primary);

            .top-product-button-view-more-icon {
                background-image: url(../img/arrow/arrow-primary.svg);
            }
        }
    }

    @include g.mq(md) {
        margin-top: 64rem;
        padding: 23rem 29rem 23rem 31rem;
    }
}


.top-product-button-view-more-en {
    font-size: 18rem;
    font-family: var(--font-family-en);
    text-transform: uppercase;

}

.top-product-button-view-more-icon {
    background-image: url(../img/arrow/arrow-white-right.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 12rem;
    height: 11rem;
}