@use "../../global" as g;

/*!
page > access
------------------------------
*/

.access-wrapper {
    @include g.mq() {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 70rem 40rem;
    }
}

.access-content {
    padding: 40rem 0;
    border-bottom: 1px solid var(--color-border-base);

    &:first-child {
        padding-top: 0;
    }

    &:last-child {
        border-bottom: none;
        padding-bottom: 0;
    }

    @include g.mq() {
        padding: 0;
        border-bottom: none;

        .access-content-map {
            margin-top: 16rem;
            width: 100%;
            height: 320rem;
        }

        &:first-child {
            grid-column: 1 / 3;

            .access-content-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .access-content-map {
                margin-top: 20rem;
                width: 100%;
                height: 408rem;
            }
        }
    }
}


.access-content-title {
    font-size: 20rem;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.05em;

    @include g.mq() {
        font-size: 24rem;
        line-height: 1.45;
    }
}

.access-content-address {
    margin-top: 8rem;
    font-size: 15rem;
    line-height: 1.9;

    @include g.mq() {
        margin-top: 9rem;
        font-size: 16rem;
    }
}

.access-content-button {
    margin-top: 14rem;
    font-family: var(--font-family-en);
    background-color: var(--color-bg-lightest-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16rem 20rem 16rem 23rem;
    border-radius: 100vh;
    width: 200rem;
    height: 51rem;
    transition: 0.5s;
    text-transform: uppercase;

    &::after {
        content: "";
        display: block;
        width: 12rem;
        height: 11rem;
        background-image: url(../img/arrow/arrow-primary.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }

    @media (any-hover:hover) {
        &:hover {
            background-color: var(--color-bg-primary);
            color: var(--color-text-white);

            &::after {
                background-image: url(../img/arrow/arrow-white-right.svg);
            }
        }
    }
}

.access-content-map {
    margin-top: 16rem;
    display: block;
    width: 340rem;
    height: 226rem;
    border-radius: 0 0 0 32rem;
    overflow: hidden;

    iframe {
        width: 100%;
        height: 100%;
    }
}