@use "../../global" as g;

/*!
page > business-single > feature
------------------------------
*/

.business-single-feature {
    scroll-margin-top: 128rem;
    margin-top: 80rem;

    @include g.mq() {
        margin-top: 0;
        padding-bottom: 80rem;
    }
}

.business-single-feature-title-en {
    font-family: var(--font-family-en);
    text-transform: uppercase;
    color: var(--color-text-primary);
    line-height: 1.18;

    @include g.mq() {
        font-size: 20rem;
    }
}

.business-single-feature-title-ja {
    font-size: 24rem;
    line-height: 1.46;
    letter-spacing: 0.05em;
    font-weight: 500;

    @include g.mq() {
        font-size: 32rem;
    }
}

.business-single-feature-content {
    margin-top: 24rem;

    @include g.mq() {
        display: flex;
        gap: 32rem;
        align-items: center;
    }
}

.business-single-feature-content-image {
    display: block;
    aspect-ratio: 340/170;
    width: 340rem;
    height: 170rem;
    overflow: hidden;
    border-radius: 0 0 0 40rem;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    @include g.mq() {
        aspect-ratio: 240/160;
        width: 240rem;
        height: 160rem;
    }
}

.business-single-feature-content-title {
    margin-top: 18rem;
    font-size: 18rem;
    line-height: 1.44;
    letter-spacing: 0.05em;
    font-weight: 500;

    @include g.mq() {
        margin-top: 0;
        font-size: 24rem;
    }
}

.business-single-feature-content-text {
    margin-top: 10rem;
    font-size: 15rem;
    line-height: 1.9;

    @include g.mq() {
        font-size: 16rem;
        line-height: 1.7;
    }
}