@use "../../global" as g;

/*!
page > business-single > flow
------------------------------
*/

.business-single-flow {
    scroll-margin-top: 128rem;
    margin: 80rem 0;

    @include g.mq() {
        margin: 0;
    }
}

.business-single-flow-title-wrapper {
    display: flex;
    flex-direction: column;
}

.business-single-flow-title-en {
    font-family: var(--font-family-en);
    text-transform: uppercase;
    color: var(--color-text-primary);
    line-height: 1.18;

    @include g.mq() {
        font-size: 20rem;
    }
}

.business-single-flow-title-ja {
    font-size: 24rem;
    line-height: 1.46;
    letter-spacing: 0.05em;
    font-weight: 500;

    @include g.mq() {
        font-size: 32rem;
    }
}

.business-single-flow-content-wrapper {
    margin-top: 24rem;

    @include g.mq() {
        margin-top: 30rem;
    }
}

.business-single-flow-content-list {
    display: flex;
    flex-direction: column;
    gap: 32rem;

    @include g.mq() {
        gap: 26rem;
    }
}

.business-single-flow-content-list-item {
    display: flex;
    gap: 16rem;

    @include g.mq() {
        gap: 32rem;
    }
}

.business-single-flow-content-list-item-icon-wrapper {
    background-color: var(--color-bg-lightest-blue);
    border-radius: 100vh;
    width: 100rem;
    height: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @include g.mq() {
        width: 150rem;
        height: 150rem;
    }
}


.business-single-flow-content-list-item-icon {
    width: 80rem;
    height: 80rem;
    aspect-ratio: 1/1;

    img {
        width: 100%;
        height: 100%;
    }

    @include g.mq() {
        width: 134rem;
        height: 134rem;
    }
}

.business-single-flow-content-list-item-content {
    width: 224rem;

    @include g.mq() {
        width: auto;
    }
}

.business-single-flow-content-list-item-number {
    font-family: var(--font-family-en);
    letter-spacing: 0.05em;
    line-height: 1.19;
    color: var(--color-text-primary);

    @include g.mq() {
        font-size: 24rem;
    }
}

.business-single-flow-content-list-item-title {
    font-size: 18rem;
    line-height: 1.44;
    letter-spacing: 0.05em;
    font-weight: 500;

    @include g.mq() {
        font-size: 24rem;
        line-height: 1.46;
    }
}

.business-single-flow-content-list-item-text {
    margin-top: 3rem;
    font-size: 14rem;
    line-height: 1.43;
    letter-spacing: 0.05em;

    @include g.mq() {
        margin-top: 7rem;
        font-size: 16rem;
        line-height: 1.9;
    }
}