@use "../../global" as g;

/*!
page > business-single > problem
------------------------------
*/

.business-single-problem {
    @include g.mq() {
        padding-bottom: 80rem;
        scroll-margin-top: 128rem;
    }
}

.business-single-problem-title-wrapper {
    display: flex;
    flex-direction: column;
}

.business-single-problem-title-en {
    font-family: var(--font-family-en);
    text-transform: uppercase;
    color: var(--color-text-primary);
    line-height: 1.18;

    @include g.mq() {
        font-size: 20rem;
    }
}

.business-single-problem-title-ja {
    font-size: 24rem;
    line-height: 1.46;
    letter-spacing: 0.05em;
    font-weight: 500;

    @include g.mq() {
        font-size: 32rem;
    }
}

.business-single-problem-text {
    margin-top: 16rem;
    line-height: 2;
}

.business-single-problem-list {
    margin-top: 24rem;
    background-color: var(--color-bg-lightest-blue);
    padding: 32rem 24rem;
    display: flex;
    flex-direction: column;
    gap: 24rem;

    @include g.mq() {
        padding: 48rem 40rem;
    }
}

.business-single-problem-list-item {
    display: flex;
    gap: 16rem;
}

.business-single-problem-list-item-icon {
    display: block;
    aspect-ratio: 21/24;
    width: 21rem;
    height: 24rem;

    img {
        width: 100%;
        height: 100%;
    }

    @include g.mq() {
        aspect-ratio: 1/1;
        width: 27rem;
        height: 27rem;
    }
}

.business-single-problem-list-item-text {
    line-height: 1.43;
    font-weight: 700;
    letter-spacing: 0.05em;

    @include g.mq() {
        font-size: 18rem;
        line-height: 1.5;
    }
}