@use "../../global" as g;

/*!
page > error
------------------------------
*/


.error-text {
    text-align: center;
    font-size: 16rem;
    letter-spacing: 0.05em;
    font-weight: 700;

    @include g.mq() {
        font-size: 24rem;
    }
}

.error-button {
    margin-top: 40rem;
    margin-inline: auto;
    font-size: 16rem;
    letter-spacing: 0.05em;
    font-weight: 700;
    border-radius: 100vh;
    background-color: var(--color-bg-primary);
    color: var(--color-text-white);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320rem;
    height: 74rem;
    transition: color 0.5s, background-color 0.5s;

    @media (any-hover:hover) {
        &:hover {
            background-color: var(--color-bg-white);
            border: 1px solid var(--color-bg-primary);
            color: var(--color-text-primary);
        }
    }

    @include g.mq() {
        margin-top: 80rem;
        font-size: 20rem;
    }
}